.footer{
    background-color: #f1f1e7;
    margin: 2rem 0;
}
.footer img{
    bottom: 0;
    right: 0;
}
.footer .footer-container .footer-container-info{
    padding: 2rem 1rem;
}
.footer .footer-container .footer-container-info p{
    margin: .5rem 0;
}
.footer .footer-container .footer-container-info h3{
    text-transform: uppercase;
}
.footer .footer-container .footer-container-info a{
    text-decoration: none;
    color: black;
}
.footer .footer-container .footer-container-info i{
    color: #a6a69c;
    font-size: 1.75rem;
    padding-right: 1rem;
}
@media screen and (max-width: 600px) {
    .footer-container{
        padding-left: 3rem;
    }
}